
@charset "utf-8";

@import "color.less";

#city-head{
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
}

//标题
#city-title{
	display: inline-block;
	font-size: 3em;
	line-height: 1.8em;
	color:@titleColor;
    -box-shadow: 0 0 15px @foucsShadowColor;
 	-webkit-box-shadow:0 0 15px @foucsShadowColor;
 }

#city-layer{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
}

@city-border: grey;
@city-color1: #004439;
@city-color2: #035964;
@city-color3: #B0F9F0; //rgba(224, 149, 224, 1);
@border-width: 2px;

#city-left{
	position: absolute;
	top:4%;
	left: 2%;
	width: 5%;
	height: 80%;
	//border-top: 3px solid red;
	//border-left:  3px solid red;
	//border-bottom: 3px solid red;
	//background-color: rgba(0, 255, 255, 1);
	text-align: right;
	z-index: 3;
	margin-top: @border-width;
	.city-item-head{
		display: inline-block;
		height: 20%;
		width: 100%;
		font-size: 2em;
		line-height: 4.5em;
		padding-right: 10%;
		border-radius: 10px 0px 0px 10px;
		background-color: @city-color1;
		color: white;
		//border-left:2px solid blue;
		//border-top:2px solid blue;
		//border-bottom:2px solid blue;
		border: @border-width solid @city-border;
		margin-top: -@border-width;
		&.select{
			border-right: @border-width solid @city-color2;
			background-color: @city-color2;
		}
		&:hover{
			border-right: @border-width solid @city-color2;
			background-color: @city-color2;
		}
	}
}

#city-mid{
	position: absolute;
	top:4%;
	left: 7.7%;
	width: 10%;
	height: 80%;
	border-top: @border-width solid @city-border;
	border-bottom: @border-width solid @city-border;
	border-left: @border-width solid @city-border;
	text-align: right;
	background-color: @city-color2;
	.city-char{
		display: inline-block;
		height: 16.6%;
		width: 30%;
		padding-right: 10%;
		font-size: 2em;
		line-height: 3em;
		background-color: @city-color2;
		border-radius: 5px 0px 0px 5px;
		color: white;
		&:hover{
			background-color: @city-color3;
		}
		&.select{
			background-color: @city-color3;
		}
	}
	z-index: 2;
}

#city-right{
	border-top: @border-width solid @city-border;
	border-bottom: @border-width solid @city-border;
	border-right: @border-width solid @city-border;
	position: absolute;
	top:4%;
	left: 17.7%;	//22
	width: 80.3%;
	height: 80%;
	background-color: @city-color3;
	z-index: 1;
}

.city-content{
	width: 100%;
	height: 100%;
}

.city-item{
	display: inline-block;
	width: 15%;
	height: 12%;
	margin-top: 1%;
	//border: 1px solid red;
	font-size: 1.5em; 
	line-height: 3.5em;
}